<div class="container" *ngIf="product$ | async as product">
    <div class="card p-5 my-3">
        <h2>{{product.title}}</h2>
        <img [src]="product.image" alt="product.title">
        <p>{{product.price | currency:'USD'}}</p>
        <div [hidden]="!this.authService.isLoggedIn">
            <input placeholder="Enter price" type="number" #price>
            <button (click)="changePrice(price.valueAsNumber)">Edit price</button>
        </div>
        <button (click)="buyProduct(product)" class="btn btn-primary">Buy Now</button>
    </div>
</div>