<div class="container my-5">
    <h2 class="my-3">Our products</h2>
    <div class="card p-3 m-3 bg-light" *ngFor="let product of products" (click)="selectProduct(product.id)">
        <div class="row">
            <div class="col-2">
                <!-- Using property binding i retrive value of image from the variable-->
                <img [src]="product.image" [alt]="product.title" height="100px">
            </div>
            <div class="col-10">
                <h6>{{product.title | uppercase}}</h6>
                <p>{{product.price | currency:'USD'}}</p>
            </div>
        </div>
    </div>
    <app-product-detail [id]="selectedProductId" *ngIf="selectedProductId"></app-product-detail>
</div>