<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid container">
      <a class="navbar-brand">LazadaMall</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="/"
           routerLinkActive="text-primary" 
           [routerLinkActiveOptions]="{ exact: true }">Home</a>
          <a class="nav-link" routerLink="/about"
           routerLinkActive="text-primary" 
           [routerLinkActiveOptions]="{ exact: true }">About</a>
          <a class="nav-link" 
          routerLink="/cart" 
          routerLinkActive="text-primary" 
          [routerLinkActiveOptions]="{ exact: true }">Cart</a>
          <a class="nav-link" 
          routerLink="/admin/products" 
          routerLinkActive="text-primary" 
          [hidden]="!authService.isLoggedIn"
          [routerLinkActiveOptions]="{ exact: true }">
          Create Product</a>
        </div>
      </div>
    </div>
  </nav>